<header>
    <h1 class="logo">LOGO</h1>
    <nav>
      <ul>
        <li><a href="/index">HOME</a></li>
        <li><a href="/profile">PROFILE</a></li>
        <li><a href="/kontak" style="margin-right: 50px;">KONTAK</a> </li>
    </ul>
  </nav>
  </header>