<%- include('layouts/header') %>
<%- include('layouts/nav') %>

<div class="container">
  <div class="wolf">
    <div class="wrapper">
      <div class="card text-center">
        <h1 class="title">YOUTUBE</h1 class="title">
        <i class="fa-brands fa-youtube icons"></i>
        <p class="description">YOUTUBE WAHYU</p>
        <button class="btn">FOLLOW</button>
      </div>
      <div class="card text-center">
        <h1 class="title">TWITTER</h1 class="title">
        <i class="fa-brands fa-twitter icons"></i>
        <p class="description">TWITTER WAHYU</p>
        <button class="btn">FOLLOW</button>
      </div>
      <div class="card text-center">
        <h1 class="title">FACEBOOK</h1 class="title">
        <i class="fa-brands fa-facebook icons"></i>
        <p class="description">FACEBOOK WAHYU</p>
        <button class="btn">FOLLOW</button>
      </div>
      <div class="card text-center">
        <h1 class="title">LINKEDIN</h1 class="title">
        <i class="fa-brands fa-linkedin icons"></i>
        <p class="description">LINKEDIN WAHYU</p>
        <button class="btn">FOLLOW</button>
      </div>
        <div class="card text-center">
          <h1 class="title">FOTO</h1 class="title">
            <br>
          <img src="https://media.licdn.com/dms/image/C4D03AQGQCDUA-mFxMQ/profile-displayphoto-shrink_800_800/0/1527803007674?e=1705536000&v=beta&t=vPhC3cGJyLVl_YRfLAv1bATTHNhKRvWg9GUXz_2AdRc" height="80%" width="80%" alt="">
      </div>
    </div>
  </div>
  </div>
  <div class="paralax">
    <div class="profile">
      <h1 class="halo">Halo Perkenalkan....</h1>
      <p class="deskripsi">Saya Wahyu Dwi Darmawan</p>
  </div>
 </div>
</body>
</html>